# Ignore Terraform state and lock files
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore AWS credentials and keys
*.pem
*.key
.env
aws_keys.csv

# Ignore Terraform Variables (SECURITY CRITICAL)
*.tfvars
*.tfvars.json

# Ignore Ansible temporary files
*.retry

# System files
.DS_Store
.vscode/