apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true 
    server: https://54.167.226.219:6443
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrRENDQVRlZ0F3SUJBZ0lJQW1nTUhlQ0hyTGd3Q2dZSUtvWkl6ajBFQXdJd0l6RWhNQjhHQTFVRUF3d1kKYXpOekxXTnNhV1Z1ZEMxallVQXhOelkzTkRZeE5EZzNNQjRYRFRJMk1ERXdNekUzTXpFeU4xb1hEVEkzTURFdwpNekUzTXpFeU4xb3dNREVYTUJVR0ExVUVDaE1PYzNsemRHVnRPbTFoYzNSbGNuTXhGVEFUQmdOVkJBTVRESE41CmMzUmxiVHBoWkcxcGJqQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJPdHJ0YzNWWVZhUi9wTXAKSGVJWTlOZFhOc2ZzVWJib0JOeG92V0M5czNCRUpUYkJoc1ZsakhBQ0JlWFhJdmxnWWJ1VWFNVUdaMWFCb1oxNQp0dThwR0NhalNEQkdNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUtCZ2dyQmdFRkJRY0RBakFmCkJnTlZIU01FR0RBV2dCUnkrMHl0N1pWYmhDZkNHa0RaY0pBSDlUSHNTVEFLQmdncWhrak9QUVFEQWdOSEFEQkUKQWlCdW01MjhWSmdqelhJYXRoVEVXdkJ4TkY4bnBPbFZ3NWl5eFJJZW9UUTRpd0lnWXFPZkVHK0tMUjNNS28zZwpTT1VpdERMdlVkdEVWRGpLcWdRd0U5amwxS0E9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkekNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdFkyeHAKWlc1MExXTmhRREUzTmpjME5qRTBPRGN3SGhjTk1qWXdNVEF6TVRjek1USTNXaGNOTXpZd01UQXhNVGN6TVRJMwpXakFqTVNFd0h3WURWUVFEREJock0zTXRZMnhwWlc1MExXTmhRREUzTmpjME5qRTBPRGN3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFTeEtIOERBa3FWWlcwa2s1Z1FZY0tPZmRDRUprbXZ3K2VYUXkyNWRwWVUKQjV6VjVzT3JacVJwL0tsTnRoNndnRmovQzJ4WVhJOHhZRC9HNEFvQXlwNHNvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVWN2dE1yZTJWVzRRbndocEEyWENRCkIvVXg3RWt3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUlnUm56THRnNFhiU1d6WjcvdXlqem9nV0FiV2d4Ump0azMKL20vMEZoSUUvdGNDSVFDKzRHeHh3aEFhNDI0bTdZeUMrUXVUTmIyZGNlcDY2R1ZjQlFKNHBqV1hNQT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUJNM3pQLy9lWUdrVFcrU1d0U0FxY0IxdW4xbVVmNit4VmlyOENsU1FILzRvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFNjJ1MXpkVmhWcEgra3lrZDRoajAxMWMyeCt4UnR1Z0UzR2k5WUwyemNFUWxOc0dHeFdXTQpjQUlGNWRjaStXQmh1NVJveFFablZvR2huWG0yN3lrWUpnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
